<%= stylesheet_link_tag "splash" %>

<%= render partial: 'splash/splash' %>

<p style="color: green"><%= notice %></p>
<div id="mains">
<h1 class="topicm"> Budgety</h1>
<%= link_to "Log_in", new_user_session_path , class: "link_to login"%>
<%= link_to "sign_up", new_user_registration_path, class: "link_to login signup" %>

</div>