<% content_for :page_title, "Expenses" %>
<%= @category.total_amount%>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
</div>

<div>
  <%# <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path%>
  <%= link_to "New expense", new_category_expense_path(@category) %>
  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
